@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #111111;
  --color-accent: #c0a080;
  --font-sans: 'Inter', 'Roboto', 'sans-serif';
}

body {
  margin: 0;
  padding: 0;
  background-color: #0b0b0b;
  color: #ffffff;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0b0b0b;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c0a080;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

.grid-auto-flow-dense {
  grid-auto-flow: dense;
}
